################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthAPI/.config
/AuthAPI/bin
/AuthAPI/obj
/AuthAPI/Properties/PublishProfiles
/AuthAPI/AuthAPI.csproj.user
/bin/Debug
/CounterAPI/.config
/CounterAPI/bin
/CounterAPI/obj
/CounterAPI/Properties/PublishProfiles
/InventoryAPI/.config
/InventoryAPI/bin
/InventoryAPI/obj
/InventoryAPI/Properties/PublishProfiles
/InventoryAPI/InventoryAPI.csproj.user
/LaboratoryAPI/.config
/LaboratoryAPI/bin
/LaboratoryAPI/obj
/LaboratoryAPI/Properties/PublishProfiles
/LaboratoryAPI/LaboratoryAPI.csproj.user
/MasterSetupAPI/.config
/MasterSetupAPI/bin
/MasterSetupAPI/obj
/MasterSetupAPI/Properties/PublishProfiles
/MasterSetupAPI/MasterSetupAPI.csproj.user
/MeritUI/.config
/MeritUI/bin
/MeritUI/obj
/MeritUI/Properties/PublishProfiles
/MeritUI/MeritUI.csproj.user
/obj
/ReportAPI/bin
/ReportAPI/obj
/ReportAPI/ReportAPI.csproj.user
/Shared/bin
/Shared/obj
/.vs
/ApiGateway/bin
/ApiGateway/obj
/ApiGateway/Properties/PublishProfiles
/ApiGateway/ApiGateway.csproj.user
/ApiGateway/.config
/EMRAPI/obj
/EMRAPI/EMRAPI.csproj.user
/EMRAPI/bin
/RadioAPI/obj
/RadioAPI/RadioAPI.csproj.user
/RadioAPI/bin
